* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: sans-serif;
  color: #555;
  background-color: #eee;
}
img{
          width: 20%;
}

